#books{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: left;
    gap: 25px;
}


.card{
    background-color: red;
    /* width: 200px; */
    text-align: center;
}